@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
    IEnumerable<ServiceCategory>? serviceCategories = ViewBag.ServiceCategories;
    IEnumerable<Service>? services = ViewBag.Services;
}


<div>
    <h2>@strTitle</h2>

    <div>
        <h3>Категория услуг</h3>
        <div class="div-box">
            <a asp-area="" asp-controller="Admin" asp-action="ServiceCategoriesEdit" asp-route-id="">Добавить категорию услуг</a>
        </div>
        @if(serviceCategories.Any())
        {
            <div>
                @foreach (ServiceCategory entity in serviceCategories)
                {
                    <div>
                        <a asp-area="" asp-controller="Admin" asp-action="ServiceCategoriesEdit" asp-route-id="@entity.Id">Редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-category-@entity.Id" asp-area=""
                            asp-controller="Admin" asp-action="ServiceCategoriesDelete" method="post" >
                                <input type="hidden" name="id" value="@entity.Id" />
                            <a href="#" onclick="document.getElementById('form-category-@entity.Id').submit();">удалить</a>
                        </form>
                        |
                        <span>
                            @($"{entity.Title}")
                        </span>
                    </div>
                }
            </div>
        }
    </div>

    <div>
        <h3>Наши услуги</h3>
        <div class="div-box">
            <a asp-area="" asp-controller="Admin" asp-action="ServicesEdit" asp-route-id="">Добавить услугу</a>
        </div>
        @if(services.Any())
        {
            <div>
                @foreach (Service entity in services)
                {
                    <div>
                        <a asp-area="" asp-controller="Admin" asp-action="ServicesEdit" asp-route-id="@entity.Id">Редактировать</a>
                        |
                        <form style="display: inline-block;" id="form-service-@entity.Id" asp-area=""
                            asp-controller="Admin" asp-action="ServicesDelete" method="post" >
                                <input type="hidden" name="id" value="@entity.Id" />
                            <a href="#" onclick="document.getElementById('form-service-@entity.Id').submit();">удалить</a>
                        </form>
                        |
                        <span>
                            @($"{entity.ServiceCategory?.Title}") |
                            <a asp-area="" asp-controller="Services" asp-action="Show" asp-route-id="@entity.Id">
                                @($"{entity.Title}")
                            </a>
                        </span>
                    </div>
                }
            </div>
        }
    </div>
    
    <div class="div-box">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>
</div>